{% extends 'base.html' %}
{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Login & Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="login-form">
                            <form method = "POST">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
<!--                                    <input class="form-control" type="text" placeholder="E-mail / Username">-->
                                    {{form.username}}
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
<!--                                    <input class="form-control" type="text" placeholder="Password">-->
                                    {{form.password}}
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="newaccount">
                                        <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type = "submit" class="btn">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
        
       {% endblock %}