
{% extends 'base.html' %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Login & Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert" style="width:400px;">
                         <center> {{message}} </center>
                    </div>
                    {% endfor %}
                    <form method = "POST">
                        {% csrf_token %}
                    <div class="col-lg-6">
                        <div class="register-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                    <input name = "f_name" class="form-control" type="text" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name"</label>
                                    <input name = "l_name" class="form-control" type="text" placeholder="Last Name">
                                </div>
                                <div class="col-md-6">
                                    <label>E-mail</label>
                                    <input name = "email" class="form-control" type="email" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <label>Username</label>
                                    <input name = "username" class="form-control" type="text" placeholder="Mobile No">
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input name = "password" class="form-control" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-6">
                                    <label>Retype Password</label>
                                    <input name = "cpassword" class="form-control" type="password" placeholder="Password">
                                </div>
                                <div class="col-md-12">
                                    <button type = "submit" class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Login End -->

{% endblock %}